.form{
    
    padding: 30px;
    display: flex;
    justify-content: space-between;

    


}

.container{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
}

.container >input{
    padding:10px;
    border:none;
    border-bottom: 1px solid gray;
    outline-width: 0;
    height: 30px;
    margin-bottom: 5px;
    
}

.container >textarea{
    padding:10px;
    
    outline-width: 0;
    border: 1px solid gray;
    margin-bottom: 5px;
   
    
}

.container >label{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}


