.btnContainer{
    display: flex;
    align-items: center;
    justify-content: center
}

.btn{
    margin: 20px;

    &.active{
        display:none;
    }
}
@media print {
    .noprint {
       visibility: hidden;
    }
 }
